openapi: 3.1.0
info:
  title: API Reference Account Holder recurrence API
  version: 1.0.0
  description: Ledger operations
servers:
- url: https://api.ntropy.com
  description: Production server (uses live data).
tags:
- name: recurrence
paths:
  /v3/account_holders/{id}/recurring_groups:
    post:
      operationId: get-account-holder-recurring-payments-v-3-account-holders-id-recurring-groups-post
      summary: Find recurring groups in a transaction history
      description: "Identifies and categorizes recurring patterns found in the transaction history of the account holder,\nsuch as periodic payments or subscriptions. These patterns are called recurrence groups. \n\nComplete guide: [Recurrence](../../../enrichment/recurrence)."
      tags:
      - recurrence
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: X-Api-Key
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecurrenceGroup'
        '404':
          description: Account holder with the provided id not found.
          content:
            application/json:
              schema:
                description: Any type
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    ValidationErrorLocItems:
      oneOf:
      - type: string
      - type: integer
      title: ValidationErrorLocItems
    Counterparty:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          description: The unique UUID identifier of the entity
        name:
          type:
          - string
          - 'null'
          description: The name of the entity
        website:
          type:
          - string
          - 'null'
          description: The website URL of the entity
        phone_number:
          type:
          - string
          - 'null'
          description: The phone number of the entity. This is a premium feature, please contact support to enable it.
        tax_number:
          type:
          - string
          - 'null'
          description: The tax number of the entity. This is a premium feature, please contact support to enable it.
        naics2017:
          type:
          - string
          - 'null'
          description: The 2017 NAICS code of the entity. This is a premium feature, please contact support to enable it.
        logo:
          type:
          - string
          - 'null'
          description: Logo's URL
        mccs:
          type: array
          items:
            type: integer
          description: A list of [Merchant Category Codes](https://en.wikipedia.org/wiki/Merchant_category_code)
        parent:
          oneOf:
          - $ref: '#/components/schemas/EntityParent'
          - type: 'null'
          description: The parent entity
        type:
          $ref: '#/components/schemas/CounterpartyType'
      required:
      - type
      title: Counterparty
    RecurrencePeriodicity:
      type: string
      enum:
      - daily
      - weekly
      - bi-weekly
      - monthly
      - bi-monthly
      - quarterly
      - semi-yearly
      - yearly
      - other
      title: RecurrencePeriodicity
    HTTPValidationError:
      type: object
      properties:
        detail:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
      title: HTTPValidationError
    ValidationError:
      type: object
      properties:
        loc:
          type: array
          items:
            $ref: '#/components/schemas/ValidationErrorLocItems'
        msg:
          type: string
        type:
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
    EntryType:
      type: string
      enum:
      - incoming
      - outgoing
      title: EntryType
    AccountingCategory:
      type: string
      enum:
      - operational expenses
      - cost of goods sold
      - revenue
      - financing
      - taxes
      - investing
      - not enough information
      title: AccountingCategory
    RecurrenceGroup:
      type: object
      properties:
        id:
          type: string
          description: A unique UUID identifier for the group
        start_date:
          type: string
          format: date
          description: The date of the oldest transaction in the group
        end_date:
          type: string
          format: date
          description: The date of the most recent transaction in the group
        total_amount:
          type: number
          format: double
          description: The sum of all transaction amounts in this group
        average_amount:
          type: number
          format: double
          description: The average amount per transaction in this group
        periodicity_in_days:
          type: number
          format: double
          description: The estimated number of days between transactions in this group
        periodicity:
          $ref: '#/components/schemas/RecurrencePeriodicity'
          description: A human-readable description of the transaction frequency
        counterparty:
          $ref: '#/components/schemas/Counterparty'
          description: Counterparty of the transactions
        categories:
          $ref: '#/components/schemas/Categories'
          description: Categories of the transactions in the recurrence group
        transaction_ids:
          type: array
          items:
            type: string
          description: Transactions in this recurrence group
        entry_type:
          $ref: '#/components/schemas/EntryType'
          description: 'The direction of the flow of the money for the transactions within the group. '
      required:
      - id
      - start_date
      - end_date
      - total_amount
      - average_amount
      - periodicity_in_days
      - periodicity
      - counterparty
      - categories
      - transaction_ids
      - entry_type
      title: RecurrenceGroup
    CounterpartyType:
      type: string
      enum:
      - person
      - organization
      title: CounterpartyType
    EntityParent:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          description: The unique UUID identifier of the entity
        name:
          type:
          - string
          - 'null'
          description: The name of the entity
        website:
          type:
          - string
          - 'null'
          description: The website URL of the entity
        phone_number:
          type:
          - string
          - 'null'
          description: The phone number of the entity. This is a premium feature, please contact support to enable it.
        tax_number:
          type:
          - string
          - 'null'
          description: The tax number of the entity. This is a premium feature, please contact support to enable it.
        naics2017:
          type:
          - string
          - 'null'
          description: The 2017 NAICS code of the entity. This is a premium feature, please contact support to enable it.
      title: EntityParent
    Categories:
      type: object
      properties:
        general:
          type:
          - string
          - 'null'
          description: The category of the transaction. View the valid set of categories for your key [here](../../../categories).
        accounting:
          oneOf:
          - $ref: '#/components/schemas/AccountingCategory'
          - type: 'null'
          description: The corresponding accounting category. Only available for `business` transactions.
      required:
      - general
      title: Categories
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
