{"openapi":"3.1.0","info":{"title":"Ntropy Transaction API","contact":{"name":"API Support","url":"https://ntropy.com/developers","email":"api@ntropy.com"},"version":"2.0"},"servers":[{"url":"https://api.ntropy.com","description":"Production server (uses live data)."}],"paths":{"/v2/labels/hierarchy/{account_holder_type}":{"get":{"tags":["Labels"],"summary":"Get the hierarchy of Ntropy labels","description":"Get the hierarchy of Ntropy labels","operationId":"get_labels_hierarchy_v2_labels_hierarchy__account_holder_type__get","security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"parameters":[{"name":"account_holder_type","in":"path","required":true,"schema":{"$ref":"#/components/schemas/ntropy_core__db__account_holder_type__AccountHolderType"}}],"responses":{"200":{"description":"A hierarchy of labels for the selected type of transaction account holder","content":{"application/json":{"schema":{"type":"string","$ref":"#/components/schemas/LabelsHierarchy"}}}},"400":{"description":"Transaction account holder type not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/labels/hierarchy/custom/{account_holder_type}":{"post":{"tags":["Labels"],"summary":"Upload a custom label hierarchy","description":"Upload a custom label hierarchy. Transactions that don't match a label will be labeled `not enough information` regardless of whether it is present in the hierarchy.","operationId":"custom_hierarchy_post_v2_labels_hierarchy_custom__account_holder_type__post","security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"parameters":[{"name":"account_holder_type","in":"path","required":true,"schema":{"$ref":"#/components/schemas/ntropy_core__db__account_holder_type__AccountHolderType"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LlmHierarchy"}}}},"responses":{"200":{"description":"Custom hierarchy successfully uploaded.","content":{"application/json":{"schema":{}}}},"400":{"description":"Transaction account holder type not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Labels"],"summary":"Get a custom label hierarchy","description":"Get a custom label hierarchy","operationId":"custom_hierarchy_get_v2_labels_hierarchy_custom__account_holder_type__get","security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"parameters":[{"name":"account_holder_type","in":"path","required":true,"schema":{"$ref":"#/components/schemas/ntropy_core__db__account_holder_type__AccountHolderType"}}],"responses":{"200":{"description":"Custom labels","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/LlmHierarchy"},{"type":"null"}],"title":"Response Custom Hierarchy Get V2 Labels Hierarchy Custom  Account Holder Type  Get"}}}},"400":{"description":"Transaction account holder type not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Labels"],"summary":"Delete a custom label hierarchy","description":"Delete a custom label hierarchy","operationId":"delete_custom_hierarchy_v2_labels_hierarchy_custom__account_holder_type__delete","security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"parameters":[{"name":"account_holder_type","in":"path","required":true,"schema":{"$ref":"#/components/schemas/ntropy_core__db__account_holder_type__AccountHolderType"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/account-holder":{"post":{"tags":["Account Holder"],"summary":"Create an account holder.","description":"Create an account holder and start tracking its ledger. The account holder can be a consumer, business or unknown.","operationId":"create_account_holder_v2_account_holder_post","security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountHolderCreate"}}}},"responses":{"200":{"description":"The created account holder","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ntropy_server__schemas__account_holder__AccountHolder"}}}},"400":{"description":"Bad Request"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-codeSamples":[{"lang":"cURL","label":"cURL","source":"curl -X \"POST\" \\\n  \"https://api.ntropy.com/v2/account-holder\" \\\n  -H \"accept: */*\" \\\n  -H \"X-API-KEY: $NTROPY_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n  \"id\": \"67890\",\n  \"type\": \"business\",\n  \"name\": \"Ntropy Network Inc.\",\n  \"industry\": \"fintech\",\n  \"website\": \"ntropy.com\"\n}'\n"},{"lang":"python","label":"Python SDK","source":"from ntropy_sdk.v2 import SDK, Transaction, AccountHolder\nimport os\n\nsdk = SDK(os.environ[\"NTROPY_API_KEY\"])\naccount_holder = AccountHolder(\n    id=\"67890\",\n    type=\"business\",\n    name=\"Ntropy Network Inc.\",\n    industry=\"fintech\",\n    website=\"ntropy.com\"\n)\nsdk.create_account_holder(account_holder)\n"}]},"get":{"tags":["Account Holder"],"summary":"Gets a list of the registered account holders","operationId":"get_account_holders_v2_account_holder_get","security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Page"}},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","default":50,"title":"Per Page"}},{"name":"query","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Query"}},{"name":"sort_by","in":"query","required":false,"schema":{"type":"string","default":"created_at","title":"Sort By"}},{"name":"sort_order","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"default":"desc","title":"Sort Order"}},{"name":"named_only","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"default":false,"title":"Named Only"}},{"name":"with_confidence","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"default":false,"title":"With Confidence"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ntropy_server__schemas__account_holder__AccountHolder"},"title":"Response Get Account Holders V2 Account Holder Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/account-holder/{account_holder_id}":{"put":{"tags":["Account Holder"],"summary":"Replace an existing account holder.","description":"Replace a existing account holder and start tracking its ledger. The account holder can be a consumer, business or unknown.","operationId":"replace_account_holder_v2_account_holder__account_holder_id__put","security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"parameters":[{"name":"account_holder_id","in":"path","required":true,"schema":{"type":"string","title":"Account Holder Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountHolderWrite"}}}},"responses":{"200":{"description":"Replaced account holder","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ntropy_server__schemas__account_holder__AccountHolder"}}}},"404":{"description":"Account holder not found."},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Account Holder"],"summary":"Retrieve the information of an account holder.","description":"Retrieve the information of an account holder.","operationId":"get_account_holder_v2_account_holder__account_holder_id__get","security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"parameters":[{"name":"account_holder_id","in":"path","required":true,"schema":{"type":"string","title":"Account Holder Id"}}],"responses":{"200":{"description":"Retrieved account holder.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountHolderWithCounts"}}}},"404":{"description":"Account holder not found."},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-codeSamples":[{"lang":"cURL","label":"cURL","source":"curl -X \"GET\" \\\n  \"https://api.ntropy.com/v2/account-holder/{account_holder_id}\" \\\n  -H \"accept: application/json\" \\\n  -H \"X-API-KEY: $NTROPY_API_KEY\"\n"},{"lang":"python","label":"Python SDK","source":"from ntropy_sdk.v2 import SDK, Transaction, AccountHolder\nimport os\nimport uuid\n\nsdk = SDK(os.environ[\"NTROPY_API_KEY\"])\naccount_holder = sdk.get_account_holder(\"{account_holder_id}\")\n"}]},"patch":{"tags":["Account Holder"],"summary":"Renames an existing account-holder","operationId":"patch_account_holder_v2_account_holder__account_holder_id__patch","security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"parameters":[{"name":"account_holder_id","in":"path","required":true,"schema":{"type":"string","title":"Account Holder Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Body_patch_account_holder_v2_account_holder__account_holder_id__patch"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Account Holder"],"summary":"Delete an account holder.","description":"Delete an account holder and all of its ledger. This operation is permanent.","operationId":"delete_account_holder_v2_account_holder__account_holder_id__delete","security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"parameters":[{"name":"account_holder_id","in":"path","required":true,"schema":{"type":"string","title":"Account Holder Id"}}],"responses":{"200":{"description":"Deleted account holder.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}},"404":{"description":"Account holder not found."},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-codeSamples":[{"lang":"cURL","label":"cURL","source":"curl -X \"DELETE\" \\\n  \"https://api.ntropy.com/v2/account-holder/{account_holder_id}\" \\\n  -H \"accept: application/json\" \\\n  -H \"X-API-KEY: $NTROPY_API_KEY\"\n"},{"lang":"python","label":"Python SDK","source":"from ntropy_sdk.v2 import SDK, Transaction, AccountHolder\nimport os\nimport uuid\n\nsdk = SDK(os.environ[\"NTROPY_API_KEY\"])\naccount_holder = sdk.get_account_holder(\"{account_holder_id}\")\n"}]}},"/v2/account-holder/{account_holder_id}/transactions":{"get":{"tags":["Account Holder"],"summary":"List transactions of an account holder.","description":"Fetch all the transactions in the transaction ledger of an account holder.","operationId":"get_account_holder_transactions_v2_account_holder__account_holder_id__transactions_get","security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"parameters":[{"name":"account_holder_id","in":"path","required":true,"schema":{"type":"string","title":"Account Holder Id"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","description":"Page number","default":0,"title":"Page"},"description":"Page number"},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"description":"How many items per page","default":100,"title":"Per Page"},"description":"How many items per page"},{"name":"sort_by","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Column to sort items by, allowed values are `['date']`. When not specified the default order will be used.","title":"Sort By"},"description":"Column to sort items by, allowed values are `['date']`. When not specified the default order will be used."},{"name":"sort_order","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SortOrder","description":"Sorting direction `asc` or `desc`","default":"desc"},"description":"Sorting direction `asc` or `desc`"}],"responses":{"200":{"description":"List of transactions for the account holder.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedAccountHolderTransactions"}}}},"400":{"description":"Bad request"},"404":{"description":"Account holder not found."},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-codeSamples":[{"lang":"cURL","label":"cURL","source":"curl -X \"GET\" \\\n  \"https://api.ntropy.com/v2/account-holder/{account_holder_id}/transactions?page=0&per_page=1000\" \\\n  -H \"accept: application/json\" \\\n  -H \"X-API-KEY: $NTROPY_API_KEY\"\n"}]},"post":{"tags":["Account Holder"],"summary":"Get transactions of an account holder by transaction id.","description":"Fetch all the transactions matching given transaction ids in the transaction ledger of an account holder. Transactions returned will be in arbitrary order.","operationId":"get_account_holder_transactions_by_id_v2_account_holder__account_holder_id__transactions_post","security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"parameters":[{"name":"account_holder_id","in":"path","required":true,"schema":{"type":"string","title":"Account Holder Id"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","description":"Page number","default":0,"title":"Page"},"description":"Page number"},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"description":"How many items per page","default":100,"title":"Per Page"},"description":"How many items per page"},{"name":"sort_by","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Column to sort items by, allowed values are `['date']`. When not specified the default order will be used.","title":"Sort By"},"description":"Column to sort items by, allowed values are `['date']`. When not specified the default order will be used."},{"name":"sort_order","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SortOrder","description":"Sorting direction `asc` or `desc`","default":"desc"},"description":"Sorting direction `asc` or `desc`"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"},"title":"Body"}}}},"responses":{"200":{"description":"List of transactions for the account holder.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedAccountHolderTransactions"}}}},"400":{"description":"Bad request"},"404":{"description":"Account holder not found."},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-codeSamples":[{"lang":"cURL","label":"cURL","source":"curl -X \"GET\" \\\n  \"https://api.ntropy.com/v2/account-holder/{account_holder_id}/transactions?page=0&per_page=1000\" \\\n  -H \"accept: application/json\" \\\n  -H \"X-API-KEY: $NTROPY_API_KEY\"\n"}]},"put":{"tags":["Account Holder"],"summary":"Correct any property for multiple transactions.","description":"Provide a correction for any field of a set of previously enriched transactions by transaction_id.","operationId":"correct_transactions_v2_account_holder__account_holder_id__transactions_put","security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"parameters":[{"name":"account_holder_id","in":"path","required":true,"schema":{"type":"string","title":"Account Holder Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichedTransactionCorrectionList"}}}},"responses":{"200":{"description":"Enriched transaction with the corrected fields","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EnrichedTransaction"},"title":"Response 200 Correct Transactions V2 Account Holder  Account Holder Id  Transactions Put"}}}},"404":{"description":"Provided account holder or transaction not found by id"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/account-holder/{account_holder_id}/transactions/{transaction_id}":{"put":{"tags":["Account Holder"],"summary":"Correct any transaction property.","description":"Provide a correction for any field of a previously enriched transaction.","operationId":"correct_transaction_v2_account_holder__account_holder_id__transactions__transaction_id__put","security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"parameters":[{"name":"transaction_id","in":"path","required":true,"schema":{"type":"string","title":"Transaction Id"}},{"name":"account_holder_id","in":"path","required":true,"schema":{"type":"string","title":"Account Holder Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichedTransactionCorrection"}}}},"responses":{"200":{"description":"Enriched transaction with the corrected fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichedTransaction"}}}},"404":{"description":"Provided account holder or transaction not found by id"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/account-holder/{account_holder_id}/recurring-payments":{"post":{"tags":["Account Holder"],"summary":"Identify existing recurring payments for an account holder's transaction history.","description":"Given the history of transactions of an account holder, determines existing recurring payments and related properties such as the type (subscription or bill), amount, periodicity, etc...","operationId":"get_account_holder_recurring_payments_v2_account_holder__account_holder_id__recurring_payments_post","security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"parameters":[{"name":"account_holder_id","in":"path","required":true,"schema":{"type":"string","title":"Account Holder Id"}}],"responses":{"200":{"description":"Result containing existing RecurringPaymentsGroups for an account holder.  ","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RecurringPaymentsGroup"},"title":"Response 200 Get Account Holder Recurring Payments V2 Account Holder  Account Holder Id  Recurring Payments Post"}}}},"400":{"description":"Bad request"},"404":{"description":"Account holder not found."},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/transactions/sync":{"post":{"tags":["Enrichment"],"summary":"Enrich and add transactions to the ledger of account holders synchronously.","description":"Add transactions to the ledgers of account holders and get back enriched version of the transactions in the response. Accepts batch sizes up to 4k transactions. A single transaction should take ~100ms. A batch of 4000 transactions should take ~40s.","operationId":"enrich_transactions_sync_v2_transactions_sync_post","requestBody":{"content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/Transaction"},"type":"array","title":"Transactions","max_items":4000}}},"required":true},"responses":{"200":{"description":"Enriched transactions","content":{"application/json":{"schema":{"items":{"anyOf":[{"$ref":"#/components/schemas/EnrichedTransaction"},{"$ref":"#/components/schemas/TransactionError"}]},"type":"array","title":"Response 200 Enrich Transactions Sync V2 Transactions Sync Post"}}}},"400":{"description":"Request containing invalid values."},"404":{"description":"One or more account holders not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissingAccountHoldersError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"x-codeSamples":[{"lang":"cURL","label":"cURL","source":"curl -X \"POST\" \\\n  \"https://api.ntropy.com/v2/transactions/sync\" \\\n  -H \"accept: application/json\" \\\n  -H \"X-API-KEY: $NTROPY_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '[\n  {\n    \"transaction_id\": \"xbx8YP14g565Xk\",\n    \"account_holder_id\": \"35b927b6-6fda-40aa-93b8-95b47c2b2cad\",\n    \"account_holder_type\": \"business\",\n    \"amount\": 12046.15,\n    \"entry_type\": \"outgoing\",\n    \"date\": \"2019-12-01\",\n    \"iso_currency_code\": \"USD\",\n    \"country\": \"US\",\n    \"description\": \"AMAZON WEB SERVICES AWS.AMAZON.CO WA Ref5543286P25S Crd15\"\n  }]'\n"},{"lang":"python","label":"Python SDK","source":"from ntropy_sdk.v2 import SDK, Transaction, AccountHolder\nimport os\n\nsdk = SDK(os.environ[\"NTROPY_API_KEY\"])\ntx = Transaction(\n  transaction_id = \"xbx8YP14g565Xk\",\n  account_holder_id = \"35b927b6-6fda-40aa-93b8-95b47c2b2cad\",\n  account_holder_type = \"business\",\n  amount = 12046.15,\n  entry_type = \"outgoing\",\n  date = \"2019-12-01\",\n  iso_currency_code = \"USD\",\n  country = \"US\",\n  description = \"AMAZON WEB SERVICES AWS.AMAZON.CO WA Ref5543286P25S Crd15\"\n)\n\nenriched = sdk.add_transactions([tx])[0]\n"}]}},"/v2/transactions/async":{"post":{"tags":["Enrichment"],"summary":"Enrich and add transactions to the ledger of account holders asynchronously.","description":"Add a batch of transactions to the ledgers of account holders. Return the batch id that has been assigned to this batch. A batch of 24960 transactions should take 5-10mins.","operationId":"enrich_transactions_async_v2_transactions_async_post","requestBody":{"content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/Transaction"},"type":"array","title":"Transactions","max_items":24960}}},"required":true},"responses":{"202":{"description":"Description of created batch","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchResult"}}}},"400":{"description":"Request containing invalid values."},"404":{"description":"One or more account holders not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissingAccountHoldersError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"x-codeSamples":[{"lang":"cURL","label":"cURL","source":"curl -X \"POST\" \\\n  \"https://api.ntropy.com/v2/transactions/async\" \\\n  -H \"accept: application/json\" \\\n  -H \"X-API-KEY: $NTROPY_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '[\n  {\n    \"transaction_id\": \"xbx8YP14g565Xk\",\n    \"account_holder_id\": \"35b927b6-6fda-40aa-93b8-95b47c2b2cad\",\n    \"account_holder_type\": \"business\",\n    \"amount\": 12046.15,\n    \"entry_type\": \"outgoing\",\n    \"date\": \"2019-12-01\",\n    \"iso_currency_code\": \"USD\",\n    \"country\": \"US\",\n    \"description\": \"AMAZON WEB SERVICES AWS.AMAZON.CO WA Ref5543286P25S Crd15\"\n  }]'\n"},{"lang":"python","label":"Python SDK","source":"from ntropy_sdk.v2 import SDK, Transaction, AccountHolder\nimport os\n\nsdk = SDK(os.environ[\"NTROPY_API_KEY\"])\ntx = Transaction(\n  transaction_id = \"xbx8YP14g565Xk\",\n  account_holder_id = \"35b927b6-6fda-40aa-93b8-95b47c2b2cad\",\n  account_holder_type = \"business\",\n  amount = 12046.15,\n  entry_type = \"outgoing\",\n  date = \"2019-12-01\",\n  iso_currency_code = \"USD\",\n  country = \"US\",\n  description = \"AMAZON WEB SERVICES AWS.AMAZON.CO WA Ref5543286P25S Crd15\"\n)\n\nenriched = sdk.add_transactions_async([tx])[0]\n"}]}},"/v2/transactions/async/{id}":{"get":{"tags":["Enrichment"],"summary":"Fetch the result of a batch transaction enrichment.","description":"Get a result of batch transaction enrichments. The id field should be as returned by /v2/transactions/async.","operationId":"get_async_enrichment_result_v2_transactions_async__id__get","security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","minLength":36,"maxLength":36,"description":"Batch id.","examples":["247ee045-3d04-4b3c-872b-a9160b810f33"],"title":"Id"},"description":"Batch id."}],"responses":{"200":{"description":"Returned batch of transaction enrichment results.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchResult"}}}},"404":{"description":"Batch not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-codeSamples":[{"lang":"cURL","label":"cURL","source":"curl -X \"GET\" \\\n  \"https://api.ntropy.com/v2/transactions/async/{batch_id}\" \\\n  -H \"accept: application/json\" \\\n  -H \"X-API-KEY: $NTROPY_API_KEY\"\n"}]}},"/v2/report":{"post":{"tags":["Reporting"],"summary":"Report a wrongly classified transaction.","description":"Report a wrongly classified transaction specifying expected enrichment values.","operationId":"report_post_v2_v2_report_post","security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichmentReport"}}}},"responses":{"200":{"description":"List of available custom labelling models","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichmentReportResponse"}}}},"404":{"description":"No available models found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-codeSamples":[{"lang":"cURL","label":"cURL","source":"curl -X \"POST\" \\\n  \"https://api.ntropy.com/v2/report\" \\\n  -H \"accept: */*\" \\\n  -H \"X-API-KEY: $NTROPY_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"transaction_id\": \"xbx8YP14g565Xk\",\n    \"website\": \"www.expected.website\",\n    \"merchant\": \"Other Merchant\"\n  }'\n"},{"lang":"python","label":"Python SDK","source":"from ntropy_sdk.v2 import SDK, EnrichedTransaction\nimport os\n\nsdk = SDK(os.environ[\"NTROPY_API_KEY\"])\ntx = EnrichedTransaction(\n    sdk,\n    transaction_id=\"xbx8YP14g565Xk\",\n    website=\"www.expected.website\",\n    merchant=\"Other Merchant\"\n)\ntx.report()\n"}]},"get":{"tags":["Reporting"],"summary":"List all submited reports (paginated and filterable).","description":"Given a page size and page number, lists a specific page of previously submitted reports, optionally filtered by status and transaction_id.","operationId":"report_list_v2_report_get","security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"parameters":[{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","maximum":10000,"minimum":1,"default":1000,"title":"Per Page"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Page"}},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Status"}},{"name":"transaction_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Transaction Id"}}],"responses":{"200":{"description":"List of reported transactions","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EnrichmentReportResponse"},"title":"Response 200 Report List V2 Report Get"}}}},"400":{"description":"One or more provided values for the query are invalid"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/report/{id}":{"get":{"tags":["Reporting"],"summary":"Returns a report by id","description":"Returns all the available information about a previously submitted report by it's identifier.","operationId":"report_get_specific_v2_report__id__get","security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","title":"Id"}}],"responses":{"200":{"description":"Report with the provided id","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EnrichmentReportResponse"},"title":"Response 200 Report Get Specific V2 Report  Id  Get"}}}},"400":{"description":"Provided report_it has an invalid format"},"404":{"description":"Requested report does not exist"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/rules/":{"get":{"tags":["Personalization"],"summary":"Get the current personalization ruleset.","description":"Get the current personalization ruleset.","operationId":"filter_get_v2_rules__get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterModel"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[],"AppIdHeader":[]}]},"post":{"tags":["Personalization"],"summary":"Set the personalization ruleset.","description":"Set the personalization ruleset.","operationId":"filter_post_v2_rules__post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterModel"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Provided ruleset has invalid structure"},"413":{"description":"Ruleset was larger than 50KiB"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"x-codeSamples":[{"lang":"cURL","label":"cURL","source":"curl -X \"POST\" \\\n  \"https://api.ntropy.com/v2/rules/\" \\\n  -H \"accept: */*\" \\\n  -H \"X-API-KEY: $NTROPY_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '[\n    {\n        \"if\": {\n            \"is_substring\": [\n                {\"get\": \"website\"},\n                \"ntropy\"\n            ]\n        },\n        \"then\": [\n            {\"set\": \"logo\", \"to\": \"http://example.com/favicon.ico\"}\n        ],\n        \"else\": [\n            {\"remove_label\": \"example label\"}\n        ]\n    }\n  ]'\n"}]}},"/v2/rules/append":{"post":{"tags":["Personalization"],"summary":"Append a rule.","description":"Append a rule to the personalization ruleset.","operationId":"filter_append_v2_rules_append_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Action"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Provided rule has invalid structure"},"413":{"description":"Ruleset after append was larger than 50KiB"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"x-codeSamples":[{"lang":"cURL","label":"cURL","source":"curl -X \"POST\" \\\n  \"https://api.ntropy.com/v2/rules/append\" \\\n  -H \"accept: */*\" \\\n  -H \"X-API-KEY: $NTROPY_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"set\": \"logo\", \"to\": \"http://example.com/favicon.ico\"}'\n"}]}},"/v2/rules/{index}":{"delete":{"tags":["Personalization"],"summary":"Delete a rule.","description":"Delete the rule at the specified index from the personalization ruleset.","operationId":"filter_delete_v2_rules__index__delete","security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"parameters":[{"name":"index","in":"path","required":true,"schema":{"type":"integer","title":"Index"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Provided index does not exist in ruleset"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-codeSamples":[{"lang":"cURL","label":"cURL","source":"curl -X \"DELETE\" \\\n  \"https://api.ntropy.com/v2/rules/0\" \\\n  -H \"accept: */*\" \\\n  -H \"X-API-KEY: $NTROPY_API_KEY\" \\\n"}]},"patch":{"tags":["Personalization"],"summary":"Modify an existing rule.","description":"Modify an existing rule at the specified index on the ruleset.","operationId":"filter_patch_v2_rules__index__patch","security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"parameters":[{"name":"index","in":"path","required":true,"schema":{"type":"integer","title":"Index"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Action"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Provided index does not exist in ruleset"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-codeSamples":[{"lang":"cURL","label":"cURL","source":"curl -X \"PATCH\" \\\n  \"https://api.ntropy.com/v2/rules/0\" \\\n  -H \"accept: */*\" \\\n  -H \"X-API-KEY: $NTROPY_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"set\": \"logo\", \"to\": \"http://example.com/favicon.ico\"}'\n"}]}},"/v2/entities":{"get":{"tags":["Entities"],"summary":"Search for entities","description":"Resolves a query into an entity by querying our entity resolution system. \n    The parameters `name` and `website` are mutually exclusive. Calls to this endpoint using \n    the `name` parameter are billed the same way transactions are.","operationId":"search_entity_v2_entities_get","security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"parameters":[{"name":"name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"The name of the entity to resolve","title":"Name"},"description":"The name of the entity to resolve"},{"name":"website","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"The website of the entity to resolve","title":"Website"},"description":"The website of the entity to resolve"},{"name":"location","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"A location string of the entity to resolve","title":"Location"},"description":"A location string of the entity to resolve"}],"responses":{"200":{"description":"Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntitySearchOut"}}}},"400":{"description":"Bad request."},"423":{"description":"Not enough credits."},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/entities/{id}":{"get":{"tags":["Entities"],"summary":"Retrieve an entity by its ID","description":"Retrieve more information about an entity by using its unique ID. These ID's may be obtained from\n    the field `id` in [entity search](#operation/search_entity_v2_entities_get) or from `merchant_id` in\n    [transaction enrichment](#tag/Enrichment)","operationId":"get_entity_by_id_v2_entities__id__get","security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"The unique ID of the entity","title":"Id"},"description":"The unique ID of the entity"}],"responses":{"200":{"description":"Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntitySearchOut"}}}},"400":{"description":"Bad request."},"404":{"description":"Entity does not exist for ID"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/mcc":{"get":{"tags":["Misc"],"summary":"Get the list of possible MCC codes that can be assigned","description":"Get the list of possible MCC codes that can be assigned. Derived from the ISO:18245:2003 standard (https://www.iso.org/standard/33365.html) with private and US-specific MCC codes removed.","operationId":"get_mccs_v2_mcc_get","responses":{"200":{"description":"List of possible MCC codes that can be assigned","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/MCCCode"},"type":"array","title":"Response 200 Get Mccs V2 Mcc Get"}}}}}}},"/datasources/bank_statements":{"post":{"tags":["Bank statements"],"summary":"Submit a bank statement PDF for OCR and enrichment","description":"Creates a new dataset from a bank statement and queues it for enrichment. The maximum size of the statement must be less than 50.0 MB","operationId":"_post_bank_statement_datasources_bank_statements_post","security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"parameters":[{"name":"account_holder_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"ID for account holder. If no account holder with the given id exists, one will be created with `account_type` or \"business\" if not specified.","title":"Account Holder Id"},"description":"ID for account holder. If no account holder with the given id exists, one will be created with `account_type` or \"business\" if not specified."},{"name":"account_type","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/ntropy_core__db__account_holder_type__AccountHolderType"},{"type":"null"}],"description":"Type of account holder to use when it is being created. Otherwise it'll override the type of the existing one for the transactions on this bank statement.","title":"Account Type"},"description":"Type of account holder to use when it is being created. Otherwise it'll override the type of the existing one for the transactions on this bank statement."},{"name":"iso_currency_code","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"The currency of transactions in the bank statement in ISO 4217 format. Defaults to `USD`","title":"Iso Currency Code"},"description":"The currency of transactions in the bank statement in ISO 4217 format. Defaults to `USD`"}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/Body__post_bank_statement_datasources_bank_statements_post"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BankStatementExternal"}}}},"401":{"description":{"details":"User not authorized for requested operation"}},"415":{"description":{"details":"File type not supported"}},"500":{"description":{"details":"Internal server error"}},"413":{"description":{"details":"File has too many pages or is too long"}},"429":{"description":{"details":"You have submitted too many pages in a short amount of time"}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Bank statements"],"summary":"Check paginated processing status for bank statements","operationId":"_get_bank_statements_datasources_bank_statements_get","security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"parameters":[{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/DocumentStatus"},{"type":"null"}],"description":"The status of the document to filter on","title":"Status"},"description":"The status of the document to filter on"},{"name":"account_holder_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"\n    The unique ID of the account holder to which the bank statement is associated\n    ","title":"Account Holder Id"},"description":"\n    The unique ID of the account holder to which the bank statement is associated\n    "},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"The page number to retrieve","default":0,"title":"Page"},"description":"The page number to retrieve"},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"exclusiveMaximum":1000,"description":"The page size to retrieve","default":20,"title":"Per Page"},"description":"The page size to retrieve"},{"name":"order_by","in":"query","required":false,"schema":{"enum":["desc","asc"],"type":"string","description":"The sorting order by creation","default":"desc","title":"Order By"},"description":"The sorting order by creation"},{"name":"query","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Query"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BankStatementExternal"},"title":"Response  Get Bank Statements Datasources Bank Statements Get"}}}},"401":{"description":{"details":"User not authorized for requested operation"}},"404":{"description":{"details":"Resource not found"}},"500":{"description":{"details":"Internal server error"}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/datasources/bank_statements/{uuid}":{"get":{"tags":["Bank statements"],"summary":"Check processing status for a bank statement","operationId":"_get_bank_statement_datasources_bank_statements__uuid__get","security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","description":"The unique ID of the bank statement","title":"Uuid"},"description":"The unique ID of the bank statement"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BankStatementExternal"}}}},"401":{"description":{"details":"User not authorized for requested operation"}},"404":{"description":{"details":"Resource not found"}},"500":{"description":{"details":"Internal server error"}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Bank statements"],"summary":"Delete a bank statement","description":"Deletes a bank statement and all its underlying transactions","operationId":"_delete_bank_statement_datasources_bank_statements__uuid__delete","security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","title":"Uuid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"401":{"description":{"details":"User not authorized for requested operation"}},"404":{"description":{"details":"Resource not found"}},"500":{"description":{"details":"Internal server error"}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"tags":["Bank statements"],"summary":"Change information of an existing bank statement","operationId":"patch_statement_datasources_bank_statements__uuid__patch","security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","title":"Uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Body_patch_statement_datasources_bank_statements__uuid__patch"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"401":{"description":{"details":"User not authorized for requested operation"}},"404":{"description":{"details":"Resource not found"}},"500":{"description":{"details":"Internal server error"}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/datasources/bank_statements/{uuid}/transactions":{"get":{"tags":["Bank statements"],"summary":"Gets the enriched transactions for a bank statement","operationId":"get_bank_statement_transactions_datasources_bank_statements__uuid__transactions_get","security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","title":"Uuid"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","description":"Page number","default":0,"title":"Page"},"description":"Page number"},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"description":"How many items per page","default":100,"title":"Per Page"},"description":"How many items per page"},{"name":"sort_by","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Column to sort items by, allowed values are `['date']`. When not specified the default order will be used.","title":"Sort By"},"description":"Column to sort items by, allowed values are `['date']`. When not specified the default order will be used."},{"name":"sort_order","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SortOrder","description":"Sorting direction `asc` or `desc`","default":"desc"},"description":"Sorting direction `asc` or `desc`"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AccountHolderTransactionWithErrors"},"title":"Response Get Bank Statement Transactions Datasources Bank Statements  Uuid  Transactions Get"}}}},"401":{"description":{"details":"User not authorized for requested operation"}},"404":{"description":{"details":"Resource not found"}},"500":{"description":{"details":"Internal server error"}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/datasources/bank_statements/{uuid}/statement-info":{"get":{"tags":["Bank statements"],"summary":"Extracts bank and account details for instant file verification and UI enhancements.","description":"Statement Info endpoint is a low-latency response analysing the first page of a bank statement which returns \n    key identification details such as the underlying bank institution and the account-holder.\n    The can be used for UX improvements through instant verification of correct file upload, for UI improvements \n    like returning bank names and logos, or for logging information about a file upon upload.","operationId":"get_bank_statement_statement_info_datasources_bank_statements__uuid__statement_info_get","security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","title":"Uuid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatementInfo"}}}},"401":{"description":{"details":"User not authorized for requested operation"}},"404":{"description":{"details":"Resource not found"}},"500":{"description":{"details":"Internal server error"}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/datasources/bank_statements/{uuid}/results":{"get":{"tags":["Bank statements"],"summary":" Get Bank Statement Results","description":"Return the extracted account information and associated transactions from a bank statement PDF. The results are accessible once the statement's status is `processed`.","operationId":"_get_bank_statement_results_datasources_bank_statements__uuid__results_get","security":[{"APIKeyHeader":[],"AppIdHeader":[]}],"parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","title":"Uuid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BankStatementResults"}}}},"401":{"description":{"details":"User not authorized for requested operation"}},"404":{"description":{"details":"Resource not found"}},"500":{"description":{"details":"Internal server error"}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/health":{"get":{"tags":["Misc"],"summary":"Get the API health info","description":"Get the API health info","operationId":"health_get_health_get","responses":{"200":{"description":"Received the API health info","content":{"application/json":{"schema":{}}}}}}}},"components":{"schemas":{"Account":{"properties":{"type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Type"},"number":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Number"},"opening_balance":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Opening Balance"},"closing_balance":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Closing Balance"},"iso_currency_code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Iso Currency Code"}},"type":"object","title":"Account"},"AccountHolderCompany":{"properties":{"loan_state":{"$ref":"#/components/schemas/LoanState"},"logo":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Logo"}},"type":"object","required":["loan_state"],"title":"AccountHolderCompany"},"AccountHolderCreate":{"properties":{"type":{"$ref":"#/components/schemas/ntropy_core__db__account_holder_type__AccountHolderType"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"industry":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Industry"},"website":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Website"},"company":{"anyOf":[{"$ref":"#/components/schemas/AccountHolderCompany"},{"type":"null"}]},"id":{"anyOf":[{"type":"string","maxLength":256,"minLength":1},{"type":"null"}],"title":"Id"}},"type":"object","required":["type"],"title":"AccountHolderCreate","examples":[{"id":"67890","industry":"fintech","name":"Ntropy Network Inc.","type":"business","website":"ntropy.com"}]},"AccountHolderTransaction":{"properties":{"transaction_id":{"type":"string","title":"Transaction Id"},"account_holder_id":{"anyOf":[{"type":"string","maxLength":256,"minLength":1},{"type":"null"}],"title":"Account Holder Id","description":"The unique ID of the account holder of the transaction"},"account_holder_type":{"anyOf":[{"$ref":"#/components/schemas/ntropy_core__db__account_holder_type__AccountHolderType"},{"type":"null"}],"description":"The type of an account holder, may be one of 'consumer', 'business' or 'unknown'. Only used when create_account_holder is true."},"amount":{"type":"number","minimum":0.0,"title":"Amount","description":"The amount of the transaction"},"entry_type":{"$ref":"#/components/schemas/EntryType-Output","description":"The direction of the transaction (incoming or outgoing)"},"date":{"type":"string","format":"date","title":"Date","description":"The date that the transaction was posted. Uses ISO 8601 format (YYYY-MM-DD)"},"iso_currency_code":{"type":"string","title":"Iso Currency Code","description":"The currency of the transaction in ISO 4217 format"},"description":{"type":"string","maxLength":1024,"minLength":0,"title":"Description","description":"The description string of the transaction"},"location":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Location"},"country":{"anyOf":[{"type":"string","pattern":"[A-Z]{2}(-[A-Z0-9]{1,3})?"},{"type":"null"}],"title":"Country","description":"The country where the transaction was made in ISO 3166-2 format"},"mcc":{"anyOf":[{"items":{"type":"integer"},"type":"array"},{"type":"null"}],"title":"Mcc"},"account_holder_name":{"anyOf":[{"type":"string","maxLength":1024,"minLength":0},{"type":"null"}],"title":"Account Holder Name","description":"The name of the account holder"},"logo":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Logo"},"website":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Website"},"location_structured":{"anyOf":[{"$ref":"#/components/schemas/LocationStructuredPublic"},{"type":"null"}]},"merchant":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Merchant"},"merchant_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Merchant Id"},"labels":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Labels"},"recurrence":{"anyOf":[{"$ref":"#/components/schemas/RecurrenceType"},{"type":"null"}]},"recurrence_group":{"anyOf":[{"$ref":"#/components/schemas/RecurrenceGroup"},{"type":"null"}]},"recurrence_group_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Recurrence Group Id"},"person":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Person"},"transaction_type":{"anyOf":[{"$ref":"#/components/schemas/TransactionType"},{"type":"null"}]},"intermediaries":{"anyOf":[{"items":{"$ref":"#/components/schemas/EntityOut"},"type":"array"},{"type":"null"}],"title":"Intermediaries"}},"additionalProperties":true,"type":"object","required":["transaction_id","amount","entry_type","date","iso_currency_code","description"],"title":"AccountHolderTransaction","examples":[{"intermediaries":[{"id":"916bc837-55ef-3106-88f6-5a8269ca9f2a","logo":"https://logos.ntropy.com/squareup.com","name":"Square","website":"squareup.com"}],"labels":["Cafes and coffee shop"],"location":"10 Union Square East, New York, New York 10003, US","location_structured":{"address":"10 Union Square East","apple_maps_url":"https://maps.apple.com/?q=Starbucks+10+Union+Square+East&sll=40.734834,-73.989782","city":"New York","country":"US","country_name":"United States","google_maps_url":"https://www.google.com/maps/search/?api=1&query=Starbucks%2C10+Union+Square+East%2C+New+York%2C+New+York+10003%2C+US","latitude":"48.734834","longitude":"-73.989782","postcode":"10003","state":"New York"},"logo":"https://logo.clearbit.com/aws.amazon.com","merchant":"Starbucks","merchant_id":"d4bc3c80-ec1a-3da2-836e-2a4ca4758be5","recurrence":"recurring","recurrence_group":{"average_amount":10.0,"first_payment_date":"2020-02-02","id":"3b0c689b-e123-30a6-9f53-878f3ebf46aa","latest_payment_date":"2022-02-02","other_party":"starbucks.com","periodicity":"monthly","periodicity_in_days":31,"total_amount":240.0,"transaction_ids":["b708fbd8-be76-41c2-86d5-83f8ba05ed85","0e34b24d-646d-416e-8d51-fda5b6e10684"]},"recurrence_group_id":"3b0c689b-e123-30a6-9f53-878f3ebf46aa","transaction_id":"xbx8YP14g565Xk","website":"starbucks.com"}]},"AccountHolderTransactionWithErrors":{"properties":{"transaction_id":{"type":"string","title":"Transaction Id"},"account_holder_id":{"anyOf":[{"type":"string","maxLength":256,"minLength":1},{"type":"null"}],"title":"Account Holder Id","description":"The unique ID of the account holder of the transaction"},"account_holder_type":{"anyOf":[{"$ref":"#/components/schemas/ntropy_core__db__account_holder_type__AccountHolderType"},{"type":"null"}],"description":"The type of an account holder, may be one of 'consumer', 'business' or 'unknown'. Only used when create_account_holder is true."},"amount":{"type":"number","minimum":0.0,"title":"Amount","description":"The amount of the transaction"},"entry_type":{"$ref":"#/components/schemas/EntryType-Output","description":"The direction of the transaction (incoming or outgoing)"},"date":{"type":"string","format":"date","title":"Date","description":"The date that the transaction was posted. Uses ISO 8601 format (YYYY-MM-DD)"},"iso_currency_code":{"type":"string","title":"Iso Currency Code","description":"The currency of the transaction in ISO 4217 format"},"description":{"type":"string","maxLength":1024,"minLength":0,"title":"Description","description":"The description string of the transaction"},"location":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Location"},"country":{"anyOf":[{"type":"string","pattern":"[A-Z]{2}(-[A-Z0-9]{1,3})?"},{"type":"null"}],"title":"Country","description":"The country where the transaction was made in ISO 3166-2 format"},"mcc":{"anyOf":[{"items":{"type":"integer"},"type":"array"},{"type":"null"}],"title":"Mcc"},"account_holder_name":{"anyOf":[{"type":"string","maxLength":1024,"minLength":0},{"type":"null"}],"title":"Account Holder Name","description":"The name of the account holder"},"logo":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Logo"},"website":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Website"},"location_structured":{"anyOf":[{"$ref":"#/components/schemas/LocationStructuredPublic"},{"type":"null"}]},"merchant":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Merchant"},"merchant_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Merchant Id"},"labels":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Labels"},"recurrence":{"anyOf":[{"$ref":"#/components/schemas/RecurrenceType"},{"type":"null"}]},"recurrence_group":{"anyOf":[{"$ref":"#/components/schemas/RecurrenceGroup"},{"type":"null"}]},"recurrence_group_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Recurrence Group Id"},"person":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Person"},"transaction_type":{"anyOf":[{"$ref":"#/components/schemas/TransactionType"},{"type":"null"}]},"intermediaries":{"anyOf":[{"items":{"$ref":"#/components/schemas/EntityOut"},"type":"array"},{"type":"null"}],"title":"Intermediaries"},"error":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Error"},"error_details":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Error Details"}},"additionalProperties":true,"type":"object","required":["transaction_id","amount","entry_type","date","iso_currency_code","description"],"title":"AccountHolderTransactionWithErrors","examples":[{"intermediaries":[{"id":"916bc837-55ef-3106-88f6-5a8269ca9f2a","logo":"https://logos.ntropy.com/squareup.com","name":"Square","website":"squareup.com"}],"labels":["Cafes and coffee shop"],"location":"10 Union Square East, New York, New York 10003, US","location_structured":{"address":"10 Union Square East","apple_maps_url":"https://maps.apple.com/?q=Starbucks+10+Union+Square+East&sll=40.734834,-73.989782","city":"New York","country":"US","country_name":"United States","google_maps_url":"https://www.google.com/maps/search/?api=1&query=Starbucks%2C10+Union+Square+East%2C+New+York%2C+New+York+10003%2C+US","latitude":"48.734834","longitude":"-73.989782","postcode":"10003","state":"New York"},"logo":"https://logo.clearbit.com/aws.amazon.com","merchant":"Starbucks","merchant_id":"d4bc3c80-ec1a-3da2-836e-2a4ca4758be5","recurrence":"recurring","recurrence_group":{"average_amount":10.0,"first_payment_date":"2020-02-02","id":"3b0c689b-e123-30a6-9f53-878f3ebf46aa","latest_payment_date":"2022-02-02","other_party":"starbucks.com","periodicity":"monthly","periodicity_in_days":31,"total_amount":240.0,"transaction_ids":["b708fbd8-be76-41c2-86d5-83f8ba05ed85","0e34b24d-646d-416e-8d51-fda5b6e10684"]},"recurrence_group_id":"3b0c689b-e123-30a6-9f53-878f3ebf46aa","transaction_id":"xbx8YP14g565Xk","website":"starbucks.com"}]},"AccountHolderWithCounts":{"properties":{"type":{"$ref":"#/components/schemas/ntropy_core__db__account_holder_type__AccountHolderType"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"industry":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Industry"},"website":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Website"},"company":{"anyOf":[{"$ref":"#/components/schemas/AccountHolderCompany"},{"type":"null"}]},"id":{"type":"string","title":"Id"},"created_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Created At"},"mean_labeler_confidence":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Mean Labeler Confidence"},"total_revenue":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Total Revenue"},"application_time":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Application Time"},"alerts":{"additionalProperties":true,"type":"object","title":"Alerts","default":{}},"review_percentage":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Review Percentage"},"num_transactions":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Num Transactions"}},"type":"object","required":["type","id"],"title":"AccountHolderWithCounts","examples":[{"id":"67890","industry":"fintech","name":"Ntropy Network Inc.","type":"business","website":"ntropy.com"}]},"AccountHolderWrite":{"properties":{"type":{"$ref":"#/components/schemas/ntropy_core__db__account_holder_type__AccountHolderType"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"industry":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Industry"},"website":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Website"},"company":{"anyOf":[{"$ref":"#/components/schemas/AccountHolderCompany"},{"type":"null"}]}},"type":"object","required":["type"],"title":"AccountHolderWrite","examples":[{"id":"67890","industry":"fintech","name":"Ntropy Network Inc.","type":"business","website":"ntropy.com"}]},"AccountType":{"type":"string","enum":["consumer","business"],"title":"AccountType"},"Action":{"additionalProperties":true,"type":"object","title":"Action"},"Address":{"properties":{"street":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Street"},"postcode":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Postcode"},"city":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"City"},"state":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"State"},"country":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Country"}},"type":"object","title":"Address"},"BankStatementAccount":{"properties":{"number":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Number"},"opening_balance":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Opening Balance"},"closing_balance":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Closing Balance"},"start_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Start Date"},"end_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"End Date"},"is_balance_reconciled":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Balance Reconciled"},"transactions":{"items":{"$ref":"#/components/schemas/BankStatementTransaction"},"type":"array","title":"Transactions"},"total_incoming":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Total Incoming"},"total_outgoing":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Total Outgoing"}},"type":"object","required":["transactions"],"title":"BankStatementAccount"},"BankStatementBankAccount":{"properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"bank_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Bank Name"},"account_holder":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Account Holder"},"account_number":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Account Number"}},"type":"object","title":"BankStatementBankAccount"},"BankStatementExternal":{"properties":{"id":{"type":"string","title":"Id"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"size":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Size"},"created_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Created At"},"account_holder_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Account Holder Id"},"account_type":{"$ref":"#/components/schemas/ntropy_core__db__account_holder_type__AccountHolderType"},"status":{"$ref":"#/components/schemas/DocumentStatus"},"bank_accounts":{"anyOf":[{"items":{"$ref":"#/components/schemas/BankStatementBankAccount"},"type":"array"},{"type":"null"}],"title":"Bank Accounts"},"statements":{"anyOf":[{"items":{"$ref":"#/components/schemas/BankStatementStatement"},"type":"array"},{"type":"null"}],"title":"Statements"},"error_code":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Error Code"},"error":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Error"},"complete":{"type":"boolean","title":"Complete"},"batch_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Batch Id"},"file":{"$ref":"#/components/schemas/BankStatementFile"}},"type":"object","required":["id","account_type","status","complete","file"],"title":"BankStatementExternal"},"BankStatementFile":{"properties":{"no_pages":{"type":"integer","title":"No Pages"},"size":{"type":"integer","title":"Size"}},"type":"object","required":["no_pages","size"],"title":"BankStatementFile"},"BankStatementResults":{"properties":{"accounts":{"items":{"$ref":"#/components/schemas/BankStatementAccount"},"type":"array","title":"Accounts"}},"type":"object","required":["accounts"],"title":"BankStatementResults"},"BankStatementStatement":{"properties":{"begin_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Begin Date"},"end_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"End Date"},"begin_balance":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Begin Balance"},"end_balance":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"End Balance"},"total_incoming":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Total Incoming"},"total_outgoing":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Total Outgoing"},"is_balance_reconciled":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Balance Reconciled"}},"type":"object","title":"BankStatementStatement"},"BankStatementTransaction":{"properties":{"date":{"type":"string","format":"date","title":"Date","description":"The date that the transaction was posted. Uses ISO 8601 format (YYYY-MM-DD)"},"entry_type":{"$ref":"#/components/schemas/EntryType-Output","description":"The direction of the transaction (incoming or outgoing)"},"amount":{"type":"number","minimum":0.0,"title":"Amount","description":"The amount of the transaction"},"running_balance":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Running Balance"},"iso_currency_code":{"type":"string","title":"Iso Currency Code","description":"The currency of the transaction in ISO 4217 format"},"description":{"type":"string","maxLength":1024,"minLength":0,"title":"Description","description":"The description string of the transaction"},"transaction_id":{"type":"string","minLength":1,"title":"Transaction Id","description":"A unique identifier of the transaction"},"page_number":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Page Number","description":"The page number this transaction appears on, where 1 is the first page."}},"type":"object","required":["date","entry_type","amount","iso_currency_code","description","transaction_id"],"title":"BankStatementTransaction"},"BatchResult":{"properties":{"status":{"$ref":"#/components/schemas/BatchStatus"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"updated_at":{"type":"string","format":"date-time","title":"Updated At"},"id":{"type":"string","title":"Id"},"progress":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Progress"},"total":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Total"},"results":{"anyOf":[{"items":{"anyOf":[{"$ref":"#/components/schemas/EnrichedTransaction"},{"$ref":"#/components/schemas/TransactionError"}]},"type":"array"},{"type":"null"}],"title":"Results"}},"type":"object","required":["status","created_at","updated_at","id"],"title":"BatchResult","description":"Batch transaction enrichment status.","examples":[{"id":"247ee045-3d04-4b3c-872b-a9160b810f33","progress":88,"status":"started","updated_at":"2019-11-30T18:32:28Z"}]},"BatchStatus":{"type":"string","enum":["started","finished","error"],"title":"BatchStatus"},"Body__post_bank_statement_datasources_bank_statements_post":{"properties":{"file":{"type":"string","format":"binary","title":"File"}},"type":"object","required":["file"],"title":"Body__post_bank_statement_datasources_bank_statements_post"},"Body_patch_account_holder_v2_account_holder__account_holder_id__patch":{"properties":{"name":{"type":"string","title":"Name"}},"type":"object","required":["name"],"title":"Body_patch_account_holder_v2_account_holder__account_holder_id__patch"},"Body_patch_statement_datasources_bank_statements__uuid__patch":{"properties":{"name":{"type":"string","title":"Name"}},"type":"object","required":["name"],"title":"Body_patch_statement_datasources_bank_statements__uuid__patch"},"DocumentStatus":{"type":"string","enum":["queued","processing","processed","failed"],"title":"DocumentStatus"},"EmptyResponse":{"properties":{"status":{"$ref":"#/components/schemas/Status"}},"type":"object","required":["status"],"title":"EmptyResponse"},"EnrichedTransaction":{"properties":{"transaction_id":{"type":"string","title":"Transaction Id"},"logo":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Logo"},"website":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Website"},"location":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Location"},"location_structured":{"anyOf":[{"$ref":"#/components/schemas/LocationStructuredPublic"},{"type":"null"}]},"merchant":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Merchant"},"merchant_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Merchant Id"},"labels":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Labels"},"recurrence":{"anyOf":[{"$ref":"#/components/schemas/RecurrenceType"},{"type":"null"}]},"recurrence_group":{"anyOf":[{"$ref":"#/components/schemas/RecurrenceGroup"},{"type":"null"}]},"recurrence_group_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Recurrence Group Id"},"person":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Person"},"transaction_type":{"anyOf":[{"$ref":"#/components/schemas/TransactionType"},{"type":"null"}]},"intermediaries":{"anyOf":[{"items":{"$ref":"#/components/schemas/EntityOut"},"type":"array"},{"type":"null"}],"title":"Intermediaries"},"mcc":{"anyOf":[{"items":{"type":"integer"},"type":"array"},{"type":"null"}],"title":"Mcc"}},"type":"object","required":["transaction_id"],"title":"EnrichedTransaction","examples":[{"intermediaries":[{"id":"916bc837-55ef-3106-88f6-5a8269ca9f2a","logo":"https://logos.ntropy.com/squareup.com","name":"Square","website":"squareup.com"}],"labels":["Cafes and coffee shop"],"location":"10 Union Square East, New York, New York 10003, US","location_structured":{"address":"10 Union Square East","apple_maps_url":"https://maps.apple.com/?q=Starbucks+10+Union+Square+East&sll=40.734834,-73.989782","city":"New York","country":"US","country_name":"United States","google_maps_url":"https://www.google.com/maps/search/?api=1&query=Starbucks%2C10+Union+Square+East%2C+New+York%2C+New+York+10003%2C+US","latitude":"48.734834","longitude":"-73.989782","postcode":"10003","state":"New York"},"logo":"https://logo.clearbit.com/aws.amazon.com","merchant":"Starbucks","merchant_id":"d4bc3c80-ec1a-3da2-836e-2a4ca4758be5","recurrence":"recurring","recurrence_group":{"average_amount":10.0,"first_payment_date":"2020-02-02","id":"3b0c689b-e123-30a6-9f53-878f3ebf46aa","latest_payment_date":"2022-02-02","other_party":"starbucks.com","periodicity":"monthly","periodicity_in_days":31,"total_amount":240.0,"transaction_ids":["b708fbd8-be76-41c2-86d5-83f8ba05ed85","0e34b24d-646d-416e-8d51-fda5b6e10684"]},"recurrence_group_id":"3b0c689b-e123-30a6-9f53-878f3ebf46aa","transaction_id":"xbx8YP14g565Xk","website":"starbucks.com"}]},"EnrichedTransactionCorrection":{"properties":{"logo":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Logo"},"website":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Website"},"location":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Location"},"location_structured":{"anyOf":[{},{"type":"null"}],"title":"Location Structured"},"merchant":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Merchant"},"labels":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Labels"},"recurrence":{"anyOf":[{},{"type":"null"}],"title":"Recurrence"},"person":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Person"},"transaction_type":{"anyOf":[{},{"type":"null"}],"title":"Transaction Type"},"intermediaries":{"anyOf":[{"items":{},"type":"array"},{"type":"null"}],"title":"Intermediaries"},"review_state":{"anyOf":[{"$ref":"#/components/schemas/ReviewState"},{"type":"null"}]}},"additionalProperties":false,"type":"object","title":"EnrichedTransactionCorrection"},"EnrichedTransactionCorrectionList":{"properties":{"transaction_ids":{"items":{"type":"string"},"type":"array","title":"Transaction Ids"},"corrections":{"items":{"$ref":"#/components/schemas/EnrichedTransactionCorrection"},"type":"array","title":"Corrections"}},"type":"object","required":["transaction_ids","corrections"],"title":"EnrichedTransactionCorrectionList"},"EnrichmentReport":{"properties":{"transaction_id":{"type":"string","title":"Transaction Id"},"notes":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Notes"},"webhook_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Webhook Url"}},"additionalProperties":{},"type":"object","required":["transaction_id"],"title":"EnrichmentReport"},"EnrichmentReportResponse":{"properties":{"id":{"type":"string","title":"Id"},"status":{"$ref":"#/components/schemas/ReportStatus"},"transaction_id":{"type":"string","title":"Transaction Id"},"fields":{"anyOf":[{"additionalProperties":{"type":"string"},"type":"object"},{"type":"null"}],"title":"Fields"},"notes":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Notes"},"webhook_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Webhook Url"}},"type":"object","required":["id","status","transaction_id"],"title":"EnrichmentReportResponse"},"EntityOut":{"properties":{"id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Id"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"website":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Website"},"logo":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Logo"}},"type":"object","title":"EntityOut"},"EntitySearchOut":{"properties":{"id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Id"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"website":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Website"},"logo":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Logo"},"location":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Location"},"location_structured":{"anyOf":[{"$ref":"#/components/schemas/LocationStructuredPublic"},{"type":"null"}]},"confidence":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Confidence"}},"type":"object","title":"EntitySearchOut"},"EntryType-Input":{"type":"string","enum":["incoming","outgoing","credit","debit"],"title":"EntryType"},"EntryType-Output":{"type":"string","enum":["incoming","outgoing"],"title":"EntryType"},"FilterModel":{"items":{},"type":"array","title":"FilterModel"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"LabelsHierarchy":{"properties":{},"additionalProperties":true,"type":"object","title":"LabelsHierarchy"},"LlmHierarchy":{"properties":{"incoming":{"items":{"type":"string"},"type":"array","title":"Incoming"},"outgoing":{"items":{"type":"string"},"type":"array","title":"Outgoing"}},"type":"object","required":["incoming","outgoing"],"title":"LlmHierarchy"},"LoanState":{"type":"string","enum":["tbd","ongoing","done"],"title":"LoanState"},"LocationStructuredPublic":{"properties":{"address":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Address"},"city":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"City"},"state":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"State"},"postcode":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Postcode"},"country":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Country"},"country_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Country Name"},"latitude":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Latitude"},"longitude":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Longitude"},"google_maps_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Google Maps Url"},"apple_maps_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apple Maps Url"},"store_number":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Store Number"},"house_number":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"House Number"}},"type":"object","title":"LocationStructuredPublic"},"MCCCode":{"properties":{"code":{"type":"string","title":"Code"},"description":{"type":"string","title":"Description"}},"type":"object","required":["code","description"],"title":"MCCCode"},"MissingAccountHoldersError":{"properties":{"detail":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Detail","description":"Message of the error","examples":["One or more account holders do not exist"]},"missingIds":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Missingids","examples":["db4591ed-0f65-417b-bc90-c2802f6a0aae","89b2e221-3d7c-40b1-8945-78456546a54e"]}},"type":"object","title":"MissingAccountHoldersError"},"PaginatedAccountHolderTransactions":{"properties":{"transactions":{"anyOf":[{"items":{"$ref":"#/components/schemas/AccountHolderTransaction"},"type":"array"},{"type":"null"}],"title":"Transactions"},"pages":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Pages"}},"type":"object","title":"PaginatedAccountHolderTransactions"},"PayFrequency":{"type":"string","enum":["daily","weekly","bi-weekly","monthly","bi-monthly","quarterly","semi-yearly","yearly","other"],"title":"PayFrequency"},"RecurrenceGroup":{"properties":{"id":{"type":"string","title":"Id"},"first_payment_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"First Payment Date"},"latest_payment_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Latest Payment Date"},"total_amount":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Total Amount"},"average_amount":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Average Amount"},"periodicity_in_days":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Periodicity In Days"},"periodicity":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Periodicity"},"confidence":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Confidence"},"transaction_ids":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Transaction Ids","description":"IDs of transactions that belong to this group. Due to multiplicity constraints, these \n        are truncated to 100. To obtain the full list, please refer to \n        the [recurring payments API](#/Account%20Holder/get_account_holder_recurring_payments_v2_account_holder__account_holder_id__recurring_payments_post)\n"}},"type":"object","required":["id"],"title":"RecurrenceGroup"},"RecurrenceType":{"type":"string","enum":["recurring","subscription","one off"],"title":"RecurrenceType"},"RecurringPaymentsGroup":{"properties":{"recurrence_group_id":{"type":"string","title":"Recurrence Group Id"},"periodicity":{"anyOf":[{"$ref":"#/components/schemas/PayFrequency"},{"type":"null"}]},"latest_payment_amount":{"type":"number","title":"Latest Payment Amount"},"total_amount":{"type":"number","title":"Total Amount"},"merchant":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Merchant"},"merchant_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Merchant Id"},"logo":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Logo"},"website":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Website"},"labels":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Labels"},"first_payment_date":{"type":"string","title":"First Payment Date"},"latest_payment_date":{"type":"string","title":"Latest Payment Date"},"transaction_ids":{"items":{"type":"string"},"type":"array","title":"Transaction Ids"},"is_active":{"type":"boolean","title":"Is Active"},"next_expected_payment_date":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Expected Payment Date"},"latest_payment_description":{"type":"string","title":"Latest Payment Description"},"type":{"type":"string","title":"Type"},"is_essential":{"type":"boolean","title":"Is Essential"},"iso_currency_code":{"type":"string","title":"Iso Currency Code"},"entry_type":{"type":"string","title":"Entry Type"},"periodicity_in_days":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Periodicity In Days"},"average_amount":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Average Amount"}},"type":"object","required":["recurrence_group_id","latest_payment_amount","total_amount","first_payment_date","latest_payment_date","transaction_ids","is_active","latest_payment_description","type","is_essential","iso_currency_code","entry_type"],"title":"RecurringPaymentsGroup","description":"Represents one recurring payments group for an account holder id"},"ReportStatus":{"type":"string","enum":["open","resolved","invalid","pending"],"title":"ReportStatus"},"ReviewState":{"type":"string","enum":["incomplete","satisfied","forced"],"title":"ReviewState"},"Scope":{"type":"string","enum":["self","all"],"title":"Scope"},"SortOrder":{"type":"string","enum":["asc","desc"],"title":"SortOrder"},"StatementInfo":{"properties":{"institution":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Institution"},"start_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Start Date"},"end_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"End Date"},"account_holder":{"anyOf":[{"$ref":"#/components/schemas/ntropy_core__db__statements__AccountHolder"},{"type":"null"}]},"accounts":{"anyOf":[{"items":{"$ref":"#/components/schemas/Account"},"type":"array"},{"type":"null"}],"title":"Accounts"}},"type":"object","title":"StatementInfo","examples":[{"account_holder":{"address":{"city":"Victoria","country":"United States","postcode":"77901","state":"Texas","street":"601 Rosebud Avenue"},"name":"John Doe","type":"consumer"},"accounts":[{"closing_balance":1500.0,"iso_currency_code":"USD","number":"83721","opening_balance":1000.0,"type":"checking"}],"end_date":"2024-02-01","institution":"Well's Fargo","start_date":"2024-01-01"}]},"Status":{"type":"string","enum":["success","error"],"title":"Status"},"Transaction":{"properties":{"transaction_id":{"type":"string","minLength":1,"title":"Transaction Id","description":"A unique identifier of the transaction"},"account_holder_id":{"anyOf":[{"type":"string","maxLength":256,"minLength":1},{"type":"null"}],"title":"Account Holder Id","description":"The unique ID of the account holder of the transaction"},"account_holder_type":{"anyOf":[{"$ref":"#/components/schemas/ntropy_core__db__account_holder_type__AccountHolderType"},{"type":"null"}],"description":"The type of an account holder, may be one of 'consumer', 'business' or 'unknown'. Only used when create_account_holder is true."},"amount":{"type":"number","minimum":0.0,"title":"Amount","description":"The amount of the transaction"},"entry_type":{"type":"string","enum":["incoming","outgoing","credit","debit"],"title":"EntryType","description":"The direction of the transaction (incoming or outgoing)"},"date":{"type":"string","format":"date","title":"Date","description":"The date that the transaction was posted. Uses ISO 8601 format (YYYY-MM-DD)"},"iso_currency_code":{"type":"string","title":"Iso Currency Code","description":"The currency of the transaction in ISO 4217 format"},"description":{"type":"string","maxLength":1024,"minLength":0,"title":"Description","description":"The description string of the transaction"},"location":{"anyOf":[{"type":"string","maxLength":1024,"minLength":0},{"type":"null"}],"title":"Location","description":"Location where the transaction occurred in"},"country":{"anyOf":[{"type":"string","pattern":"[A-Z]{2}(-[A-Z0-9]{1,3})?"},{"type":"null"}],"title":"Country","description":"The country where the transaction was made in ISO 3166-2 format"},"mcc":{"anyOf":[{"type":"integer","maximum":9999.0,"minimum":0.0},{"type":"null"}],"title":"Mcc","description":"The Merchant Category Code of the merchant according to ISO 18245"},"account_holder_name":{"anyOf":[{"type":"string","maxLength":1024,"minLength":0},{"type":"null"}],"title":"Account Holder Name","description":"The name of the account holder"}},"type":"object","required":["transaction_id","amount","entry_type","date","iso_currency_code","description"],"title":"Transaction","description":"A transaction","examples":[{"account_holder_id":"35b927b6-6fda-40aa-93b8-95b47c2b2cad","amount":10.0,"country":"US","date":"2022-02-02","description":"SQ* STARBUCKS UNION SQUARE","entry_type":"outgoing","iso_currency_code":"USD","transaction_id":"xbx8YP14g565Xk"}]},"TransactionError":{"properties":{"transaction_id":{"type":"string","title":"Transaction Id","examples":["247ee045-3d04-4b3c-872b-a9160b810f33"]},"error":{"type":"string","title":"Error","examples":["PROCESSING_ERROR"]},"error_details":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"string"},{"type":"null"}],"title":"Error Details","examples":["Failed to process transaction"]}},"type":"object","required":["transaction_id","error"],"title":"TransactionError","description":"Transaction that returned with error."},"TransactionType":{"type":"string","enum":["business","consumer","unknown"],"title":"TransactionType"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"},"ntropy_core__db__account_holder_type__AccountHolderType":{"type":"string","enum":["consumer","business","unknown"],"title":"AccountHolderType"},"ntropy_core__db__statements__AccountHolder":{"properties":{"type":{"anyOf":[{"$ref":"#/components/schemas/AccountType"},{"type":"null"}]},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"address":{"anyOf":[{"$ref":"#/components/schemas/Address"},{"type":"null"}]}},"type":"object","title":"AccountHolder"},"ntropy_server__schemas__account_holder__AccountHolder":{"properties":{"type":{"$ref":"#/components/schemas/ntropy_core__db__account_holder_type__AccountHolderType"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"industry":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Industry"},"website":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Website"},"company":{"anyOf":[{"$ref":"#/components/schemas/AccountHolderCompany"},{"type":"null"}]},"id":{"type":"string","title":"Id"},"created_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Created At"},"mean_labeler_confidence":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Mean Labeler Confidence"},"total_revenue":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Total Revenue"},"application_time":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Application Time"},"alerts":{"additionalProperties":true,"type":"object","title":"Alerts","default":{}},"review_percentage":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Review Percentage"}},"type":"object","required":["type","id"],"title":"AccountHolder","examples":[{"id":"67890","industry":"fintech","name":"Ntropy Network Inc.","type":"business","website":"ntropy.com"}]}},"securitySchemes":{"APIKeyHeader":{"type":"apiKey","in":"header","name":"X-Api-Key"}}},"tags":[{"name":"Enrichment","description":"Transaction enrichment."},{"name":"Account Holder","description":"Ledger operations"},{"name":"Bank statements","description":"\nThe bank statements API allows you to view and enrich transactions found in bank statements. Below is a table with\nthe description of each of the statuses and steps that each bank statement goes through:\n|  Status  |                          Description                           |\n|----------|----------------------------------------------------------------|\n|QUEUED    |The document is queued for processing                           |\n|PROCESSING|OCR is in progress                                              |\n|PROCESSED |The document was successfully processed                         |\n|FAILED    |An error occurred during processing of any of the previous steps|\n\n\n\nA list of error codes for the `FAILED` status can be found below:\n|Code|                  Description                   |\n|---:|------------------------------------------------|\n| 301|Failed to parse document as bank statement.     |\n| 301|Failed to enrich transactions in bank statement.|\n| 500|Unexpected error. Please contact support.       |\n\n"},{"name":"Personalization","description":"Custom rules for enrichment."},{"name":"Misc","description":"Miscellaneous endpoint."}]}